<!doctype html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body class="img-back">  
    <div class="form-container">
        <h1 class="form-header login">Login</h1>
        <form class="wrap" method="POST" action="/login">
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="submit" id="login" value="Login">
        </form>
    </div>
      <div>Don't have an account? <a href="/signup">Register here.</a></div>
    <hr>
    <span class="centered" id="loginMsg">
    <%= msg %>
    </span>
</body>
        
</html>