<!doctype html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body class="img-back">  
    <div class="form-container">
        <p class="form-header top-header centered">Sign Up</p>
        <div class="wrap centered">
        <form method="POST" action="/signup">
            <input type="text" id="username" name="username" placeholder="Username" required><br>
            <input type="password" id="password" name="password" placeholder="Password" required><br>
            <input type="email" id="email" name="email" placeholder="Email"><br>
            <input type="checkbox" required><label>I agree to the <a href="/journalMeTOC.pdf" target="_blank">Terms and Conditions</a></label><br>
            <input type="submit" id="register" value="Register">
        </form>
        </div>
    </div>
    <hr>
    <span class="created" id="signupMsg">
    <%= msg %>
    </span>
</body> 

</html>