<!doctype html>
<html ng-app="myApp">
    
<head>
    <title>User Journal Entry</title>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body class="img-back">  
    <div class="form-container" ng-controller="myController">
        <p id="sectionTitle" class="form-header top-header">Add Journal Entry</p>
        <form method="POST" action="/user/update">
            <input type="text" id="journal" name="journal"  ng-model="user.journal" placeholder="e.g. Buy eggs"><br>   
            <input type="submit" id="save" value="Add to List">
        </form>
    </div>
    <hr>
    <span class="created" id="userMsg">
    <%= msg %>
    </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <a id="homeLink" href="/">Home</a>
</body>

</html>